.App{
font-family: Arial Narrow, Arial, sans-serif;
background-color: #f404c4;
min-height: 100vh;
border-radius: 6px;
}
.btn {
  background-color: #0e0f0f;
  color: rgb(15, 250, 117);
  padding: 8px 14px;
  border-radius: 6px;
}
:root {
  --main-color: #96fa14;
}
.title { color: var(--main-color); }
nav{
  background-color: #04f4e8;
  margin: auto;
  padding:1rem 2rem;
}
nav ul{
  display: flex;
  gap:2rem;
  list-style: none;
  padding: 1px;
 margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.container {
  background-color: #d708ea;
  min-height: 100vh;
  border-radius: 40px;
}

.button {
  background-color: #0e0f0f;
  color: #e1f604;
  padding: 8px 14px;
  border-radius: 6px;
}